:root {
    --primary-color: rgb(0, 122, 204);
    /* --secondary-color: rgb(204, 173, 0); */
    --secondary-color: rgb(252, 225, 56);
    --tertiary-color: rgb(204, 0, 61);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
}

header h1 {
    /* background-color: white; */
    padding: 16px 16px 16px 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

header h1 a {
    color: var(--secondary-color);
    font-size: 40px;
    text-decoration: none;
    /* text-shadow: 4px 3px 5px black; */

}

header h1 a:hover {
    text-shadow: 4px 3px 5px black;
}

header nav {
    margin: 16px 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 26px;
    padding: 10px 15px;
    margin: 0px 15px;
    border-bottom: 3px solid var(--secondary-color);
    /* text-shadow: -4px 3px 5px black; */
}

header nav ul li a:hover {
    text-shadow: -4px 3px 5px black;
}

section {
 /* padding: 60px */
}

.hero {
    background-image: url("../images/tevin-arms-open.jpg");
    /* background-image: url("../images/img2.jpg"); */
    background-size: cover;
    background-position: center 34%;
    padding: 200px 60px;
    height: 400px;
    width: 100%;
}

.hero h2 {
    color: var(--primary-color);
    text-align: right;
    position: absolute;
    top: 400px; right: 60px;
    font-size: 32px;
    text-shadow: -4px 3px 5px black;
}

.about-me-p-div {
    display: flex;
    align-items: center;
    margin: 0px auto;
    width: 100%;
}

.about-me div p {
    font-size: 20px;
    color: var(--primary-color);
    /* margin: 0px auto; */
    /* width: 80%; */
    max-width: 60ch;
}

.about-me, .work, .contact-me {
    display: flex;
}

.title-div {
    background-color: var(--secondary-color);
    height: 200px;
    width: 300px;
    display: flex;
}

/* .work {
    display: flex;
    flex-wrap: wrap;
} */

.work-div div {
    display:flex;
    flex-wrap: flex;
}

.work a {
    text-decoration: none;
    color: var(--primary-color);
    margin: 0px auto;
    width: 80%;
}

.run-buddy-img {
    background-image: url("../images/run-buddy-img.JPG");
    background-size: cover;
    width: 750px;
    height: 300px;
    border: 3px solid var(--primary-color);
    opacity: 0.5;
}

.run-buddy-img div {
    display: block;
    position: relative;
    top: 230px; left: 20px;
    font-size: 20px;
    /* background-color: var(--secondary-color); */
}

.section-title {
    /* justify-content: center; */
    color: var(--primary-color);
    font-size: 46px;
    border-right: 4px solid var(--primary-color);
    text-align: right;
    padding: 0px 20px 0px;
    margin: 20px 20px 20px 0px;
    /* text-align: top; */
}

footer ul {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    padding: 20px 35px;
    width: 100%;
}

.footer-info {
    width: 100%;
    display: flex;
}

footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer ul li {
    font-size: 20px;
    list-style: none;
    display: block;
}

footer ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
    /* text-shadow: 0px -4px 5px black; */
}

footer ul li a:hover {
    text-shadow: 0px -4px 5px black;
}

footer div {
    background-color: var(--primary-color);
}