:root {
    --primary-color: rgb(0, 122, 204);
    --secondary-color: rgb(252, 225, 56);
    --tertiary-color: rgb(204, 0, 61);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

header h1 {
    display: flex;
    padding: 16px 16px 16px 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

header h1 a {
    color: var(--secondary-color);
    font-size: 4.0rem;
    text-decoration: none;

}

header h1 a:hover {
    text-shadow: 4px 3px 5px black;
}

header nav {
    margin: 16px 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2.6rem;
    padding: 10px 15px;
    margin: 0px 15px;
    border-bottom: 3px solid var(--secondary-color);
}

header nav ul li a:hover {
    text-shadow: 4px 3px 5px black;
}

section {
 display: flex;
 flex-wrap: wrap;
}

.section-title {
    color: var(--primary-color);
    font-size: 3.8rem;
    border-right: 4px solid var(--primary-color);
    text-align: right;
    padding: 0px 20px 0px;
    margin: 40px 40px 40px 20px;
}

.hero {
    background-image: url("../images/tevin-arms-open.jpg");
    background-size: cover;
    background-position: center 34%;
    padding: 200px 60px;
    height: 400px;
    width: 100%;
}

.hero h2 {
    color: var(--primary-color);
    text-align: right;
    position: absolute;
    top: 400px; right: 60px;
    font-size: 3.2rem;
    text-shadow: 2px 2px 2px var(--secondary-color);
}

.about-me-p-div {
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.about-me div p {
    font-size: 2.0rem;
    color: var(--primary-color);
    max-width: 60ch;
}

.about-me, .work ,.contact-me {
    display: flex;
    flex-wrap: wrap;
}

.title-div {
    background-color: var(--secondary-color);
    min-height: 200px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.outer-work-div {
    width: 80%;
}


.work-div {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto;
    gap: 2em;
    min-height: 300px;
}

.main-project {
    border: 4px solid var(--primary-color);
    position: relative;
    margin: 20px 0px;
    transition: 500ms ease-in-out;
    /* flex: 1 70%; */
}

.main-project div {
    position: absolute;
    top: 50%;
}

.other-projects {
    border: 4px solid var(--primary-color);
    position: relative;
    margin: 20px 0px;
    transition: 500ms ease-in-out;
}

.other-projects div {
    position: absolute;
    top: 50%;
}

.main-project img {
    max-height: 300px;
    filter: grayscale(100);
    transition: 500ms ease-in-out;
    display: block;
}

.other-projects img {
    height: 150px;
    filter: grayscale(100);
    transition: 500ms ease-in-out;
    display: block;
}

img:hover {
    /* height: 200px; */
    filter: grayscale(0);
}

.main-project:hover, .other-projects:hover {
    transform: scale(1.08);
    transition: 500ms ease-in-out;
}

.img-text {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 8px 12px;
    position: absolute;
    font-size: 1.8rem;
}

.img-text h4 {
    font-size: 1.4rem;
}

footer ul {
    padding: 20px 35px;
    width: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-info {
    width: 80%;
    display: flex;
}

footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer ul li {
    font-size: 2.0rem;
    list-style: none;
    display: block;
}

footer ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

footer ul li a:hover {
    text-shadow: 4px 3px 5px black;
}

footer div {
    background-color: var(--primary-color);
}

@media screen and (max-width: 980px) {    
    header h1 a {
        justify-content: center;
    }

    header nav {
        justify-content: center;
    }

    header nav ul {

    }
    
    .section-title {
        font-size: 3.0rem;
    }

    .about-me div p {
        font-size: 1.8rem;
        color: var(--primary-color);
        max-width: 45ch;
    }

    .main-project img {
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    
    header nav ul li {
        margin: 10px 0px;
    }

    header nav ul li a {
        font-size: 2.3rem;
    }

    .section-title {
        font-size: 3.0rem;
        border-bottom: 4px solid var(--primary-color);
        border-right: 0px;
        text-align: right;
        padding: 0px 10px 10px 10px;
    }

    .title-div {
        width: 100%;
        justify-content: center;
        min-height: 100px;
    }

    .about-me div p {
        font-size: 1.8rem;
        color: var(--primary-color);
        max-width: 45ch;
        margin: 20px;
    }

    .outer-work-div{
        width: 100%;
    }

    .footer-info {
        width:100%;
    }

    footer ul li {
        margin: 20px 10px;
    }
}

@media screen and (max-width: 650px) {
    header nav ul li a {
        font-size: 2.0rem;
    }

    header nav ul li {
        margin: 10px 0px;
    }

    header h1 a {
        font-size: 3.4rem;
    }    

}

@media screen and (max-width: 575px) {
    header h1 a {
        font-size: 3rem;
    }    

    header nav ul li a {
        font-size: 1.8rem;
    }
}